<div>
    <div class="item">
        <div class="header">My profile</div>
        <div class="menu">
            <a class="item">Update Name</a>
            <a class="item">Update Bio</a>
            <a style="color:#d01919" class="item">Delete Posts</a>
            <a class="item">Update Password</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Manage Connections</div>
        <div class="menu">
            <a class="item">Search and Follow</a>
            <a class="item">My Followers</a>
            <a class="item">People I follow</a>
        </div>
    </div>
</div>