<div class="container">
    <div class="form_container">
        <div class="ui">
            <h2 class="ui teal center aligned icon header">
                <i class="circular users icon"></i>
                BLOG POST
            </h2>
        </div>
        <div class="ui segment">
            <div class="ui two column very relaxed stackable grid">
                <div class="column">
                    <div class="ui form">
                        <div class="field">
                            <label>Username</label>
                            <div class="ui left icon input">
                                <input id="username" type="text" placeholder="Username">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui left icon input">
                                <input id="password" type="password" placeholder="Password">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div id="login" class="ui teal submit button">Login</div>
                    </div>
                </div>
                <div class="middle aligned column">
                    <div id="get_sign_up_page" class="ui teal basic big button">
                        <i class="signup icon"></i>
                        Sign Up
                    </div>
                </div>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
        </div>
        <div id="err_incorrect_user_pass" class="ui pointing red basic label hidden">
            Incorrect username or password
        </div>
    </div>
</div>