<div style="position: fixed; top: 1em; " class="ui horizontal list">
    <div style="padding: 1em !important;" class="item">
        <li id="my_profile" data-username="{%username%}" style="display: flex" class="inline">
            <img style="margin-right: .6em" class="ui mini circular image" src="https://robohash.org/{%f_name%}_{%l_name%}">
            <div class="content">
                <div class="ui sub header">{%f_name%}</div>
                {%l_name%}
            </div>
        </li>
    </div>
</div>