<div class="segment">
    <div style="width: 100%" id="{%f_id%}" class="ui card">
        <div class="content">
            <div>
                <img style="margin-right: .6em" class="ui mini circular image" src="https://robohash.org/{%f_name%}">
                <h3 style="display: inline" class="header">{%f_name%} {%l_name%}</h3>
            </div>
            {%bio%}
        </div>
    </div>
    <div style="display: flex; justify-content: end">
        <button id="del_following_from_menu" style="margin-bottom: 1em" class="ui basic orange button">Remove</button>
        <button id="visit_profile" style="margin-bottom: 1em" class="ui basic green button">Visit profile</button>
    </div>
</div>

